HOSTNAME=host.domain
USERNAME=admin
PASSWORD=abcd1234
ETH_IP=192.168.0.2
WIFI_SSID=ssid
WIFI_PASS=wifipass
WIFI_IP=192.168.0.3
USER_FILES=/mnt/data/home.tgz
PACKAGES=
SERVICES=
USER_SERVICES=
FEATURES=
DATA_DRIVE=/dev/sdb